$grey-green:#ebf0ed;
$dark-grey:#444;

$dark-green:#2e5e69;
$lighter-green:#45636a; 
//$lighter-green: lighten($dark-green,20%);


$border-color: #cacaca;
$border-color-darker: darken($border-color,20%);

.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.hide{
  display: none;
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.tool-button{
  display: block;
  -webkit-appearance: none; 
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  border:none;
  padding: 1em 0;
  text-align: center;
  font-size:1.3em;
  text-decoration: none;

  &.primary-cta{
    color: white;
    background-color:$dark-green;
    &:hover{
      background-color: $lighter-green;
    }
  }
}

//tick boxes in helpline & damp tool
.tickbox {
  width: 20px;
  height: 20px;
  border: 1px solid $border-color-darker;
  padding-top: 3px;
  padding-left: 2px;
  background:#FFF;
  float:left;
  margin-right: 10px;
  label{
    cursor: pointer;
    &.active{
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      opacity: 1;
      content: '';
      display: inline-block;
      position: absolute;
      width: 14px;
      height: 7px;
      background: transparent;
      top: inherit;
      left: inherit;
      border: 3px solid red;
      border-top: none;
      border-right: none;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }
}



.tool-form{

  margin:1em;

  label {
    display: block;
    margin-bottom: 15px;  
  }

  span{
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }

  input {
    width: 100%;
    padding: 10px 5px;
    font-size:1.4em;
    border-radius:0;
    border:1px solid #ccc;
    
    &[type='number'] {
      -moz-appearance:textfield;
    }

    &[type=number]::-webkit-inner-spin-button,
    &[type=number]::-webkit-outer-spin-button{
      -webkit-appearance: none;
      margin: 0;
    }
  }

  :-moz-placeholder{text-indent: 0;}
  ::-moz-placeholder {text-indent: 0;}
  :-ms-input-placeholder {text-indent: 0;}
  ::-webkit-input-placeholder {text-indent: 0;}

  .dob{
    
    margin-right: 0.1em;

    >label{
      display: inline-block;
      text-align: center;

      span{
        //for accessibility
        position:absolute;
        left:-10000px;
        top:auto;
        width:1px;
        height:1px;
        overflow:hidden;
      }

      &.dob-day{
        width: 20%;
      }

      &.dob-month{
        width: 20%;
      }

      &.dob-year{
        width: 30%;
        margin-right: 0;
      }
    }
  }

  .opt-in{
    input[type="checkbox"]{
      display: inline-block;
      margin-right: 0.5em;
      width: auto;
    }
    label{
      display: inline-block;
    }
  }

  #list-form-errors{
    li{
      color: #ff0000;
    }
  }
}

.form-message{
  padding:1em;
  border: 1px solid $border-color;
  background: $grey-green;
}


.question {
  margin: 0px 100px 0px 0px;
  border-top: 1px solid $border-color;
  background: $grey-green;
  padding: 10px 13px!important;

  color: $dark-grey;

  .edit_answer {
  float: right;
  margin-top: 11px;
  font-size: 15px;
  background: #d0d0d0;
  background: -moz-linear-gradient(top,#d0d0d0 0,#bbb 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#d0d0d0),color-stop(100%,#bbb));
  background: -webkit-linear-gradient(top,#d0d0d0 0,#bbb 100%);
  background: -ms-linear-gradient(top,#d0d0d0 0,#bbb 100%);
  background: linear-gradient(top,#d0d0d0 0,#bbb 100%);
  border: 1px solid #AAA;
  display: block;
  border-radius: 3px;
  -webkit-box-shadow: #FFF 0 1px 0;
  -moz-box-shadow: #FFF 0 1px 0;
  box-shadow: #FFF 0 1px 0;

   span {
     display:block;
     padding: 5px;
     text-align:center;
   }

  }

  h2 {
    margin-top: 0;
    padding:10px 0;
  }

  // fake radio buttons in bget
  .options {
    li {
      background: white;
      width: 70%;
      padding: 11px 7px;
      font-size: 1.2em;
      cursor: pointer;
      margin: 15px 0px;
      border: 1px solid $border-color;
      position:relative;

      span{
        position: absolute;
        margin-left: 10px;
      }

      .squared {
        width: 18px;
        height: 17px;
        //border: 1px solid #DDD;
        border: 1px solid $border-color-darker;
        display: inline-block;
        padding: 1px 0 0 0;
        border-radius: 20px;

        label{

          cursor: pointer;

          &.active{
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
            filter: alpha(opacity=0);
            opacity: 1;
            content: '';
            display: inline-block;
            position: absolute;
            width: 12px;
            height: 12px;
            border-radius: 11px;
            background: black;
            /* background: transparent; */
            top: inherit;
            left: inherit;
            border: 3px solid #000000;
            border-top: none;
            border-right: none;
            /* -webkit-transform: rotate(-45deg); */
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            /* transform: rotate(-45deg); */
            margin-left: 2px;
            margin-top: 1px;
          }
        }
      }
      
      &.active {
        background: #2e5e69;
        color: white;

        .squared {
          
          border: 1px solid white!important;
          background:#fff;
          
          label {

          cursor: pointer;

         -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
            filter: alpha(opacity=0);
            opacity: 1;
            content: '';
            display: inline-block;
            position: absolute;
            width: 12px;
            height: 12px;
            border-radius: 11px;
            top: inherit;
            left: inherit;
            /* border: 3px solid #000000;*/
            border-top: none;
            border-right: none;
            /* -webkit-transform: rotate(-45deg); */
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            /* transform: rotate(-45deg); */
            margin-left: 2px;
            margin-top: 1px;
            border: 1px solid white!important; 
            background: red;
          }//label
        }//.squared
      }//.active
    }//li
  }//.options



  // border box has changed size of tick box - fixed in helpline but not in damp.
  .choices{

    font-size:1em;

    form{}

    ul{
      margin-bottom: 0;

      li{
        @extend .clearfix;
        border: 1px solid $border-color;
        background: white;
        list-style: none;
        margin: 10px 0;
        padding: 11px 7px;
        //font-size: 1.2em;
        cursor: pointer;
        //position:relative;
        }
    }

    span{
      float: left;
      width:80%;
    }

    //&.tickboxes{}

    &.yesorno{

      ul{
        @extend .clearfix;
        li{
          width:80px;
          &.yes{
            float: right;
          }

          &.no{
            float: left;
          }
        }
      }

      span{
        width:50%;
      }

    }

  }//choices

}//question

.contentHasDisplay {
  padding: 10px 15px;
  margin-right: 100px;
  border-top: 1px solid #cacaca;
  background: #2e5e69;

  p {
    color:white;
    margin-bottom: 0;
    font-size:1.1em;

    b {}
  }
}

// content boxes in British gas tool
#content-container {

 margin-right: 100px;
 border: 1px solid #DDD;

.content {
  padding: 10px;
  word-wrap: break-word;
  border-bottom: 1px solid #DDD;

  h2{
    border: 0;
    padding: 0;
    margin: 0;
  }

  h3 {
    margin: 10px 0;
    color: initial!important;
  }

  h4{
    font-weight: bold;
    margin-bottom: 8px;
  }

  p{
    &:not(:empty) {
      margin-right: 0;
    }
  }

  select {
    border: 1px solid #DDD;
    border-radius: 3px;
    font-size: 1em;
  }

  a{
    background: url("http://england.shelter.org.uk/__data/assets/image/0013/433012/redArrow.gif ") no-repeat;
    background-position: right;
    padding: 0 10px 0 0;
    color: #369!important;
    &:empty {
      display: none;
    }
  }

  &.pallet,
  &.pallet *{
     background: #edeeee!important;
  }

  &.advice-results{
    border: none;
    background: #ebf0ed;

    .form-success{
      font-weight: bold;
    }
  }
}
}


//advice-results only used on BG to email user
.advice-results{
  .input-group {
    margin: 10px 20px 0 0;
    float: left;
    width: 64%;
    &:first-child{
      //shortens name field
      width:30%;
    }
  }
    
  label {
    font-weight: bold;
  }

  input {
    width: 100%;
    padding: 10px 5px;
    font-size:1.4em;
    border-radius:0;
  }

  input[type="submit"]{
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    border:none;
    padding: 10px 0;
    text-align: center;
    color: white;
    background: #2e5e69;
    margin: 10px 0px;
    &:hover{
      background:#45636a;
    }
  }

  :-moz-placeholder{text-indent: 0;}
  ::-moz-placeholder {text-indent: 0;}
  :-ms-input-placeholder {text-indent: 0;}
  ::-webkit-input-placeholder {text-indent: 0;}
}






//help line specific styles
.help-line-tool{

  box-sizing: border-box;

  *,
  *:before, 
  *:after{
    box-sizing: inherit;
  }

  .question{
    
    &:nth-of-type(1):before,
    &:nth-of-type(2):before{
      content: "";
      display: block;
      background-repeat:no-repeat;
      background-size:cover;
      padding-bottom:100px;
    }
    &:nth-of-type(1):before{
      background-image:url('http://england.shelter.org.uk/__data/assets/image/0016/1111516/calender-pages.jpg');
    }
    &:nth-of-type(2):before{
      background-image:url('http://england.shelter.org.uk/__data/assets/image/0011/1111520/passport.jpg');
    } 
  }

  .call-back{
    border: 1px solid $border-color;
    background: $grey-green;
    //padding: 1em;
  }

  .call-back-time{

    margin:1em;

    h2{
      margin-bottom:10px;
    }

    ul{

      text-align: justify;
      min-width: 100%;

      li{
        background-color: white;
        list-style: none;
        display: inline-block;
        width: 46%;
        margin: 0 0.6em 0.6em 0;
        text-align: center;

        label{
          background-color: white;
          display: block;
          padding: 0.8em 0;
          cursor: pointer;
          border: 1px solid $border-color;

          &.activeLabel {
            background-color: $dark-green;
            color: white;
            font-weight: bold;
            border: none;
          }
        }
      }
    }
  } 

  .call-back-booking-msg{
    margin:0;
    background:$lighter-green;
    padding:1em;
    
    p{
      color: white;
      text-align: center;
    }
  }

  .call-back-details{

    margin:1em;

    p{}
    input[type="text"],
    input[type="email"] {
        width: 100%;
    }
  }
}

.page-description {
  margin-right: 100px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.loader-quart {
  border-radius: 50px;
  border: 6px solid rgba(24, 24, 24, 0.4);
  position: relative;
  padding: 35px 45px;
}
.loader-quart:after {
  box-sizing: border-box;
  content: '';
  position: absolute;
  top: -7px;
  right: -6px;
  bottom: -6px;
  left: -6px;
  border-radius: 54px;
  border: 7px solid transparent;
  border-top-color: #F00;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 1000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 1000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.loaders {
  line-height: 3;
  margin-left: 30px;
  text-align: center;
  margin-right: 100px;
  margin-top: 10%;
}



@media only screen and (max-device-width: 480px){

  #content-container, .page-description, .loaders, .contentHasDisplay {
    margin-right: 0;
  }

  .loaders {
    margin-left: 0;
  }

  .contentHasDisplay {

    padding: 10px 0;
 
    p {
      margin: 0 10px;
    }
    
  }

  #top_search{
    display: none;
  }

  .question {
    margin: 0;

    .options {

      li,
      .option{
        width:auto;
        list-style:none;
      }

    }
  }

  .content {
    margin-right: 0px;

    h2 {

      font-weight: bold;

    }

    h3 {

      font-size: 1.2em;
      font-weight: normal;

    }

  }

  .advice-results{
    .input-group {
      float: none;
      width: auto;
      &:first-child{
      //shortens name field
      width:auto;
    }
    }
  }
}










  















// #advice_summary_buttons{
//   a,button{
//       display: block;
//     padding: 20px 40px;
//     text-align: center;
//     color: white;
//     background: #4fa2b6;
//     margin: 10px 0px;
//   }

//   button {
//     background: #2e5e69!important;
//     width: 100%;
//     font-size: inherit;
//   }
// }



// .sidebar{

//   .sidebar-item {
//     margin: 15px 0px;
//     background: #edeeee;
//     padding: 8px 8px;

//     .input-group {
//       margin: 10px 0;

//       label {
//         font-weight: bold;
//       }
//       input {
//         width: 94%;
//         padding: 10px 5px;
//         font-size:18px;
//       }
//     }
//   }

//   .not_available {
//     color: #9E9E9E;
//   }

//   .guide-tile {
//     padding: 10px 0;
//   }

//   .all-related-guides {
//     display: block;
//     height: 40px;

//     a {
//       float: right;
//       margin: 10px 0px;
//     }
//   }

//   .check {
//     display: block;
//     margin: 10px 0;
//     height: 35px;

//     .done{

//       .squared {
//         width: 18px;
//         height: 17px;
//         border: 1px solid black;
//         display: inline-block;
//         padding-top: 0;
//         padding-left: 0;
//         margin-top: 1px;
//         background: white;

//         label {
//           -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
//           filter: alpha(opacity=0);
//           opacity: 1;
//           content: '';
//           display: inline-block;
//           position: absolute;
//           width: 10px;
//           height: 4px;
//           background: transparent;
//           top: inherit;
//           left: inherit;
//           //border: 3px solid #BDBDBD;
//           border: 3px solid red;
//           border-top: none;
//           border-right: none;
//           -webkit-transform: rotate(-45deg);
//           -moz-transform: rotate(-45deg);
//           -o-transform: rotate(-45deg);
//           -ms-transform: rotate(-45deg);
//           transform: rotate(-45deg);
//           cursor: pointer;
//           margin-top: 2px;
//           margin-left: 2px;
//         }
//       }
//     } 

//     span {
//       position: relative;
//       width: 89%;
//       float: right;
//       //color: #069;
//     }
//   }
// }

// #energy_saving_tips {
//   padding: 0px 0px;
//   margin:15px 100px 0 0;
  
//   h3{
//     font-size: 1.5em;
//     margin-bottom: 15px;
//     //padding-bottom: 20px;
//   }

//   ul{
//     margin-right: 0;

//     li {
//       //list-style: none;
//       background: none;
//       //padding-left: 0;
//       border-bottom: 1px solid rgb(157, 156, 156);
//       padding: 8px 10px;
//       font-weight: bold;
//       margin:0;
//       color: #006699;

//       &:hover{
//         background:#edeeee;
//         cursor: pointer;
//       }

//       //to clear the span with out adding clearfix class
//       &:after{
//         content: "";
//         display: table;
//         clear: both;
//       }

//       span{
//         float:right;
//         font-size:1.9em;
//       }
//     }
//   }
// }

   
 



 














// .check {
//   display: block;
//   margin: 10px 0;
//   height: 35px;

//   .done{

//     .squared{
//       width: 18px;
//       height: 17px;
//       border: 1px solid black;
//       display: inline-block;
//       padding-top: 0;
//       padding-left: 0;
//       margin-top: 1px;
//       background: white

//       label {
//         -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
//         filter: alpha(opacity=0);
//         opacity: 1;
//         content: '';
//         display: inline-block;
//         position: absolute;
//         width: 10px;
//         height: 4px;
//         background: transparent;
//         top: inherit;
//         left: inherit;
//         //border: 3px solid #BDBDBD;
//         border: 3px solid red;
//         border-top: none;
//         border-right: none;
//         -webkit-transform: rotate(-45deg);
//         -moz-transform: rotate(-45deg);
//         -o-transform: rotate(-45deg);
//         -ms-transform: rotate(-45deg);
//         transform: rotate(-45deg);
//         cursor: pointer;
//         margin-top: 2px;
//         margin-left: 2px;
//       }
//     }
//   }
//   span {
//     position: relative;
//     width: 89%;
//     float: right;
//     color: #069;
//   }
// }


// #advice_summary_buttons{
//   a,button{
//     display: block;
//     padding: 20px 40px;
//     text-align: center;
//     color: white;
//     background: #4fa2b6;
//     margin: 10px 0px;
//   }

//   button{
//     background: #2e5e69!important;
//     width: 100%;
//     font-size: inherit;
//   }
// }
















// .sidebar div#losing_your_home {
//   background: #edeeee;
//   padding: 10px;
// }
// .sidebar div#losing_your_home ul {
//   margin: 15px 0;
// }
// .sidebar div#losing_your_home ul li {
//   margin: 10px 0;
// }

