<section class="loaders" ng-if="contentLoaded === false || contentAboutToLoad === true">
    <span class="loader-quart fadeIn animated"></span>
</section>

<!-- <div ng-show="objContains('Landlord') || countQs === answers.length || questions.length === answers.length && contentAboutToLoad !== true" class="contentHasDisplay">
 <p>
    <b>
   The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32      and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
    </b>
  </p> 
</div> -->

<div id="content-container" ng-show="objContains('Landlord') || countQs === answers.length || questions.length === answers.length && contentAboutToLoad !== true">
   <div class="content" ng-repeat="content in contents track by $index | toArray" ng-if="content.type === 1" data-content-id="{{content.id}}">
         <h2 ng-bind="content.title"></h2>
        <div>
             <div show-data template="{{content.description}}"></div>
        </div>
</div>
   <div data-ng-init="content.available = false" ng-repeat="content in contents track by $index | toArray" class="content" data-content-id="{{content.id}}" ng-if="content.type !== 1" ng-show="content.available === true">
         <h2 ng-bind="content.title"></h2>
        <div ng-if="content.type === 2 || content.type === 3">
             <div show-data template="{{content.description}}"></div>
        </div>
        <div ng-if="content.type === 4">
            <div ng-repeat="version in content.versions" ng-if="match(answers, version.required) === true || version.available === true">
                <div show-data template="{{version.description}}"></div>
            </div>
        </div>
    </div>
</div>
