.clearfix:after, .question .choices ul li:after, .question .choices.yesorno ul:after {
  content: "";
  display: table;
  clear: both; }

.hide {
  display: none; }

@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg); }

  to {
    -ms-transform: rotate(360deg); } }
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg); }

  to {
    -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(360deg); } }
@keyframes spin {
  from {
    transform: rotate(0deg); }

  to {
    transform: rotate(360deg); } }
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
.tool-button {
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  border: none;
  padding: 1em 0;
  text-align: center;
  font-size: 1.3em;
  text-decoration: none; }
  .tool-button.primary-cta {
    color: white;
    background-color: #2e5e69; }
    .tool-button.primary-cta:hover {
      background-color: #45636a; }

.tickbox {
  width: 20px;
  height: 20px;
  border: 1px solid #979797;
  padding-top: 3px;
  padding-left: 2px;
  background: #FFF;
  float: left;
  margin-right: 10px; }
  .tickbox label {
    cursor: pointer; }
    .tickbox label.active {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      opacity: 1;
      content: '';
      display: inline-block;
      position: absolute;
      width: 14px;
      height: 7px;
      background: transparent;
      top: inherit;
      left: inherit;
      border: 3px solid red;
      border-top: none;
      border-right: none;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }

.tool-form {
  margin: 1em; }
  .tool-form label {
    display: block;
    margin-bottom: 15px; }
  .tool-form span {
    font-weight: bold;
    display: block;
    margin-bottom: 5px; }
  .tool-form input {
    width: 100%;
    padding: 10px 5px;
    font-size: 1.4em;
    border-radius: 0;
    border: 1px solid #ccc; }
    .tool-form input[type='number'] {
      -moz-appearance: textfield; }
    .tool-form input[type=number]::-webkit-inner-spin-button, .tool-form input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0; }
  .tool-form :-moz-placeholder {
    text-indent: 0; }
  .tool-form ::-moz-placeholder {
    text-indent: 0; }
  .tool-form :-ms-input-placeholder {
    text-indent: 0; }
  .tool-form ::-webkit-input-placeholder {
    text-indent: 0; }
  .tool-form .dob {
    margin-right: 0.1em; }
    .tool-form .dob > label {
      display: inline-block;
      text-align: center; }
      .tool-form .dob > label span {
        position: absolute;
        left: -10000px;
        top: auto;
        width: 1px;
        height: 1px;
        overflow: hidden; }
      .tool-form .dob > label.dob-day {
        width: 20%; }
      .tool-form .dob > label.dob-month {
        width: 20%; }
      .tool-form .dob > label.dob-year {
        width: 30%;
        margin-right: 0; }
  .tool-form .opt-in input[type="checkbox"] {
    display: inline-block;
    margin-right: 0.5em;
    width: auto; }
  .tool-form .opt-in label {
    display: inline-block; }
  .tool-form #list-form-errors li {
    color: #ff0000; }

.form-message {
  padding: 1em;
  border: 1px solid #cacaca;
  background: #ebf0ed; }

.question {
  margin: 0px 100px 0px 0px;
  border-top: 1px solid #cacaca;
  background: #ebf0ed;
  padding: 10px 13px !important;
  color: #444444; }
  .question .edit_answer {
    float: right;
    margin-top: 11px;
    font-size: 15px;
    background: #d0d0d0;
    background: -moz-linear-gradient(top, #d0d0d0 0, #bbbbbb 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d0d0d0), color-stop(100%, #bbbbbb));
    background: -webkit-linear-gradient(top, #d0d0d0 0, #bbbbbb 100%);
    background: -ms-linear-gradient(top, #d0d0d0 0, #bbbbbb 100%);
    background: linear-gradient(top, #d0d0d0 0, #bbbbbb 100%);
    border: 1px solid #AAA;
    display: block;
    border-radius: 3px;
    -webkit-box-shadow: #FFF 0 1px 0;
    -moz-box-shadow: #FFF 0 1px 0;
    box-shadow: #FFF 0 1px 0; }
    .question .edit_answer span {
      display: block;
      padding: 5px;
      text-align: center; }
  .question h2 {
    margin-top: 0;
    padding: 10px 0; }
  .question .options li {
    background: white;
    width: 70%;
    padding: 11px 7px;
    font-size: 1.2em;
    cursor: pointer;
    margin: 15px 0px;
    border: 1px solid #cacaca;
    position: relative; }
    .question .options li span {
      position: absolute;
      margin-left: 10px; }
    .question .options li .squared {
      width: 18px;
      height: 17px;
      border: 1px solid #979797;
      display: inline-block;
      padding: 1px 0 0 0;
      border-radius: 20px; }
      .question .options li .squared label {
        cursor: pointer; }
        .question .options li .squared label.active {
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
          filter: alpha(opacity=0);
          opacity: 1;
          content: '';
          display: inline-block;
          position: absolute;
          width: 12px;
          height: 12px;
          border-radius: 11px;
          background: black;
          /* background: transparent; */
          top: inherit;
          left: inherit;
          border: 3px solid #000000;
          border-top: none;
          border-right: none;
          /* -webkit-transform: rotate(-45deg); */
          -moz-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          /* transform: rotate(-45deg); */
          margin-left: 2px;
          margin-top: 1px; }
    .question .options li.active {
      background: #2e5e69;
      color: white; }
      .question .options li.active .squared {
        border: 1px solid white !important;
        background: #fff; }
        .question .options li.active .squared label {
          cursor: pointer;
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
          filter: alpha(opacity=0);
          opacity: 1;
          content: '';
          display: inline-block;
          position: absolute;
          width: 12px;
          height: 12px;
          border-radius: 11px;
          top: inherit;
          left: inherit;
          /* border: 3px solid #000000;*/
          border-top: none;
          border-right: none;
          /* -webkit-transform: rotate(-45deg); */
          -moz-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          /* transform: rotate(-45deg); */
          margin-left: 2px;
          margin-top: 1px;
          border: 1px solid white !important;
          background: red; }
  .question .choices {
    font-size: 1em; }
    .question .choices ul {
      margin-bottom: 0; }
      .question .choices ul li {
        border: 1px solid #cacaca;
        background: white;
        list-style: none;
        margin: 10px 0;
        padding: 11px 7px;
        cursor: pointer; }
    .question .choices span {
      float: left;
      width: 80%; }
    .question .choices.yesorno ul li {
      width: 80px; }
      .question .choices.yesorno ul li.yes {
        float: right; }
      .question .choices.yesorno ul li.no {
        float: left; }
    .question .choices.yesorno span {
      width: 50%; }

.contentHasDisplay {
  padding: 10px 15px;
  margin-right: 100px;
  border-top: 1px solid #cacaca;
  background: #2e5e69; }
  .contentHasDisplay p {
    color: white;
    margin-bottom: 0;
    font-size: 1.1em; }

#content-container {
  margin-right: 100px;
  border: 1px solid #DDD; }
  #content-container .content {
    padding: 10px;
    word-wrap: break-word;
    border-bottom: 1px solid #DDD; }
    #content-container .content h2 {
      border: 0;
      padding: 0;
      margin: 0; }
    #content-container .content h3 {
      margin: 10px 0;
      color: initial !important; }
    #content-container .content h4 {
      font-weight: bold;
      margin-bottom: 8px; }
    #content-container .content p:not(:empty) {
      margin-right: 0; }
    #content-container .content select {
      border: 1px solid #DDD;
      border-radius: 3px;
      font-size: 1em; }
    #content-container .content a {
      background: url("http://england.shelter.org.uk/__data/assets/image/0013/433012/redArrow.gif ") no-repeat;
      background-position: right;
      padding: 0 10px 0 0;
      color: #336699 !important; }
      #content-container .content a:empty {
        display: none; }
    #content-container .content.pallet, #content-container .content.pallet * {
      background: #edeeee !important; }
    #content-container .content.advice-results {
      border: none;
      background: #ebf0ed; }
      #content-container .content.advice-results .form-success {
        font-weight: bold; }

.advice-results .input-group {
  margin: 10px 20px 0 0;
  float: left;
  width: 64%; }
  .advice-results .input-group:first-child {
    width: 30%; }
.advice-results label {
  font-weight: bold; }
.advice-results input {
  width: 100%;
  padding: 10px 5px;
  font-size: 1.4em;
  border-radius: 0; }
.advice-results input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  border: none;
  padding: 10px 0;
  text-align: center;
  color: white;
  background: #2e5e69;
  margin: 10px 0px; }
  .advice-results input[type="submit"]:hover {
    background: #45636a; }
.advice-results :-moz-placeholder {
  text-indent: 0; }
.advice-results ::-moz-placeholder {
  text-indent: 0; }
.advice-results :-ms-input-placeholder {
  text-indent: 0; }
.advice-results ::-webkit-input-placeholder {
  text-indent: 0; }

.help-line-tool {
  box-sizing: border-box; }
  .help-line-tool *,
  .help-line-tool *:before,
  .help-line-tool *:after {
    box-sizing: inherit; }
  .help-line-tool .question:nth-of-type(1):before, .help-line-tool .question:nth-of-type(2):before {
    content: "";
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px; }
  .help-line-tool .question:nth-of-type(1):before {
    background-image: url("http://england.shelter.org.uk/__data/assets/image/0016/1111516/calender-pages.jpg"); }
  .help-line-tool .question:nth-of-type(2):before {
    background-image: url("http://england.shelter.org.uk/__data/assets/image/0011/1111520/passport.jpg"); }
  .help-line-tool .call-back {
    border: 1px solid #cacaca;
    background: #ebf0ed; }
  .help-line-tool .call-back-time {
    margin: 1em; }
    .help-line-tool .call-back-time h2 {
      margin-bottom: 10px; }
    .help-line-tool .call-back-time ul {
      text-align: justify;
      min-width: 100%; }
      .help-line-tool .call-back-time ul li {
        background-color: white;
        list-style: none;
        display: inline-block;
        width: 46%;
        margin: 0 0.6em 0.6em 0;
        text-align: center; }
        .help-line-tool .call-back-time ul li label {
          background-color: white;
          display: block;
          padding: 0.8em 0;
          cursor: pointer;
          border: 1px solid #cacaca; }
          .help-line-tool .call-back-time ul li label.activeLabel {
            background-color: #2e5e69;
            color: white;
            font-weight: bold;
            border: none; }
  .help-line-tool .call-back-booking-msg {
    margin: 0;
    background: #45636a;
    padding: 1em; }
    .help-line-tool .call-back-booking-msg p {
      color: white;
      text-align: center; }
  .help-line-tool .call-back-details {
    margin: 1em; }
    .help-line-tool .call-back-details input[type="text"],
    .help-line-tool .call-back-details input[type="email"] {
      width: 100%; }

.page-description {
  margin-right: 100px; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

.loader-quart {
  border-radius: 50px;
  border: 6px solid rgba(24, 24, 24, 0.4);
  position: relative;
  padding: 35px 45px; }

.loader-quart:after {
  box-sizing: border-box;
  content: '';
  position: absolute;
  top: -7px;
  right: -6px;
  bottom: -6px;
  left: -6px;
  border-radius: 54px;
  border: 7px solid transparent;
  border-top-color: #F00;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 1000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 1000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

.loaders {
  line-height: 3;
  margin-left: 30px;
  text-align: center;
  margin-right: 100px;
  margin-top: 10%; }

@media only screen and (max-device-width: 480px) {
  #content-container, .page-description, .loaders, .contentHasDisplay {
    margin-right: 0; }

  .loaders {
    margin-left: 0; }

  .contentHasDisplay {
    padding: 10px 0; }
    .contentHasDisplay p {
      margin: 0 10px; }

  #top_search {
    display: none; }

  .question {
    margin: 0; }
    .question .options li,
    .question .options .option {
      width: auto;
      list-style: none; }

  .content {
    margin-right: 0px; }
    .content h2 {
      font-weight: bold; }
    .content h3 {
      font-size: 1.2em;
      font-weight: normal; }

  .advice-results .input-group {
    float: none;
    width: auto; }
    .advice-results .input-group:first-child {
      width: auto; } }
