<h1>How to reduce your energy costs</h1>

<p class="page-description"><strong>Find out what help you can get with fuel bills, if you qualify for energy saving home improvements and how to switch suppliers.</strong>
</p>
<!--[if IE 8]>
    <p style="padding:10px; background:#edeeee" class="clearfix">
        <img src="./?a=284899" style="float:left; margin:0 10px 10px 0" /> <strong>This page will not function correctly in the version of Internet Explorer that you are using</strong>

    </p>
    <style>
        .sidebar {
            display:none;
        }
    </style>
<![endif]-->

<!--
<h5>answers</h5>
{{answers}}

<h5>pathway</h5>
{{pathway}}

-->

<!-- APP HOLDER WHICH IS ADDED TO THE DOM ONCE EVERYTHING HAS LOADED -->
<div class="appHolder" ng-if="contentLoaded === true" ng-cloak="">

	<!-- CONTAINER FOR A QUESTION AND ITS CHILDREN -->
    <div id="question{{$index}}"
	     ng-repeat="question in questions track by $index"
	     ng-init="questionIndex = $index; question.afterChildren = questionIndex + getAboveAfterChildren(questionIndex)">

	<!-- PARENT QUESTION --> 
        <div class="question"
             id="question{{questionIndex}}"
	         ng-init="question.state = true"
                 ng-if="objContains('Landlord') === false || questionIndex === 0 || question.afterChildren === answers.length || questionIndex === answers.length || isInAnswer(question.id) === true"
                 ng-hide="objContains('Landlord') === true && questionIndex !== 0 || getAboveChildren(questionIndex) !== 0 && isInPathway(questions[questionIndex - 1].children[0].id) === false && isInAnswer(questions[questionIndex - 1].id, questions[questionIndex - 1].children[0].if) === true">

	    <!-- BUTTON TO CHANGE THE STATE OF A QUESTION --> 
            <button class="edit_answer"
		            ng-click="editAnswer(question.id, questionIndex)"
		            ng-if="isInAnswer(question.id) === true || questionCount > $index">
			            <span>change answer</span>
			</button>

            <h2 ng-bind="question.title"></h2>

            <!-- THE OPTIONS FOR THIS PARENT QUESTION IF IT IS NOT JUST A YES OR NO QUESTION --> 
            <ul class="options"
	            ng-if="question.type !== 4">

	            	<!-- REPEAT THE OPTIONS AND IF ANYTHING OF THEM ARE CLICKED, RUN THE oneAnswer() FUNCTION --> 
	                <li ng-repeat="option in question.options track by $index"
	                	ng-click="oneAnswer(question.id, option.name, $event, question.title, $index, 'parent', questionIndex, getAboveAfterChildren(questionIndex), $index)"
                                ng-hide="question.state === false && isInAnswer(question.id, option.name, true) !== true"
	                	ng-class="{'active': isInAnswer(question.id, option.name) === true}">
	                		<!-- THE CUSTOM RADIO BUTTON WHICH INHERITS THE "active" CLASS FOR THIS "li" --> 
							<div class="squared">
							  <label for="squared"></label>
							</div>
							<!-- BIND THE OPTION NAME --> 
							<span ng-bind="option.name"></span>
	                </li>
            </ul>

            <!-- THE OPTIONS FOR THIS PARENT QUESTION IF IT IS A YES OR NO QUESTION --> 
            <ul class="options"
            	ng-if="question.type === 4"
            	>

            		<!-- scroll-to="question{{questionIndex+1}}" THE "li" FOR A YES OPTION -->
                	<li class="yes"
                		ng-click="oneAnswer(question.id, 'yes', $event, question.title, $index, 'parent', questionIndex, getAboveAfterChildren(questionIndex), $index)"   
                                ng-hide="question.state === false && isInAnswer(question.id, 'yes') !== true"             		
                		ng-class="{'active': isInAnswer(question.id, 'yes') === true}">
                			<!-- THE CUSTOM RADIO BUTTON WHICH INHERITS THE "active" CLASS FOR THIS "li" --> 
							<div class="squared">
							  <label for="squared"></label>
							</div>
							<span>Yes</span>
                	</li>

                	<!-- THE OPTIONS FOR THIS PARENT QUESTION IF IT IS A YES OR NO QUESTION --> 
                	<li class="no"
                		ng-click="oneAnswer(question.id, 'no', $event, question.title, $index, 'parent', questionIndex, getAboveAfterChildren(questionIndex), $index)"
                                ng-hide="question.state === false && isInAnswer(question.id, 'no') !== true"
                		ng-class="{'active': isInAnswer(question.id, 'no') === true}">
                			<!-- THE CUSTOM RADIO BUTTON WHICH INHERITS THE "active" CLASS FOR THIS "li" --> 
							<div class="squared">
							  <label for="squared"></label>
							</div>
							<span>No</span>
                	</li>
            </ul>
        </div>

        <!-- CHILD QUESTION --> 
        <div id="question{{questionIndex}}-{{$index}}"
        	 class="childQuestions animated bounceOutLeft"
        	 ng-repeat="child in question.children track by $index"
                 ng-init="childIndex = $index"
        	 ng-if="question.children !== 0 && isInAnswer(question.id, child.if) === true">

            	<div class="question" ng-init="child.state = true">

            		<!-- BUTTON TO CHANGE THE STATE OF THIS CHILD QUESTION -->
                	<button class="edit_answer"
		                	ng-if="isInAnswer(child.id) === true"
		                	ng-click="child.state = true">
                				<span>change answer</span>
                	</button>

                	<h2 ng-bind="child.title"></h2>

                	<!-- THE OPTIONS FOR THIS CHILD QUESTION IF IT IS NOT A YES OR NO QUESTION --> 
                	<ul class="options"
                		ng-if="child.type !== 4"
                		>

                		<!-- scroll-to="question{{questionIndex + 1}}" REPEAT THE OPTIONS AND IF ANYTHING OF THEM ARE CLICKED, RUN THE oneAnswer() FUNCTION --> 
	                    <li ng-repeat="option in child.options track by $index"
	                    	ng-click="oneAnswer(child.id, option.name, $event, child.title, parentIndex, 'child', questionIndex, childIndex)"

                  ng-hide="child.state === false && isInPathway(child.id, option.name) !== true"
	                    	ng-class="{'active': isInAnswer(child.id, option.name) === true}">
	                    		<!-- THE CUSTOM RADIO BUTTON WHICH INHERITS THE "active" CLASS FOR THIS "li" --> 
								<div class="squared">
								  <label for="squared"></label>
								</div>
								<!-- BIND THE OPTION NAME --> 
								<span ng-bind="option.name"></span>
						</li>

                	</ul>

                	<!-- THE OPTIONS FOR THIS CHILD QUESTION IF IT IS A YES OR NO QUESTION --> 
                	<ul class="options" ng-if="child.type === 4">

                		<!--THE "li" FOR A YES OPTION -->
                    	<li class="yes"
                    		ng-click="addYes(child.title, $event, 'yes', child.id, $index)"
                    		ng-class="{'active': isInAnswer(question.id, option.name) === true}">
                    		    <!-- THE CUSTOM RADIO BUTTON WHICH INHERITS THE "active" CLASS FOR THIS "li" --> 
								<div class="squared">
								  <label for="squared"></label>
								</div>
								<span>Yes</span>
                    	</li>

                    	<!--THE "li" FOR A NO OPTION -->
	                    <li class="no"
	                    	ng-click="addYes(question.title, $event, 'no', question.id)"
	                    	ng-class="{'active': isInAnswer(child.id, 'no') === true}">
	                    	<!-- THE CUSTOM RADIO BUTTON WHICH INHERITS THE "active" CLASS FOR THIS "li" --> 
							<div class="squared">
							  <label for="squared"></label>
							</div>
							<span>No</span>

	                    </li>
	                </ul>
            	</div>
        </div>
    </div>
</div>

<div ng-include="" src="'/test_area/michael/tools/templates/bget_content_display_v2/_nocache'"></div>
